header.header
  .header__container
    .header__brand.font-w-light.font-s-16 Франшиза сети <br> ветеринарных клиник МяуЛай
    img.header__logo(src="images/logo.png" loading="lazy" width="213" height="183" alt="logo")
    .header__call-me
      button.btn.btn--call-me(data-remodal-target="modal-form-call-me") Заказать звонок
  .header__brand-mobile.font-w-light.font-s-16 Франшиза сети ветеринарных клиник МяуЛай
