section.start-section
  .wrapper
    .start-section__container
      img.start-section__img(src="images/start-section-img.png" loading="lazy" width="1308" height="1180" alt="image")
      .start-section__top
        h2.start-section__title.font-w-bold.font-s-50
          span.color-orange Сделайте первый шаг, 
          br.no-br
          | узнайте лучшие места 
          br.no-br
          | для открытия МЯУЛАЙ
        .start-section__sub-title.font-w-light.font-s-20
          | Просто укажите название вашего города 
          br
          | и получите список удачных локаций
        form.start-section__form(data-city-form)
          .input.input--city.js-input-city.start-item
            input.input.input--city.start-item.input-city-position(type="text" name="city" autocomplete="off" placeholder="Название города")
            .input__progress.js-input-city-progress
              span.js-input-city-percent 0%
          button.btn.start-item(type="submit") Получить список локаций
          input(type="text" name="honeyfield" class="honeypot" style="display:none")
      .start-section__bottom
        .start-section__bottom-left
          .start-section__bottom-title.font-w-bold.font-s-50
            | Почувствуйте 
            br.no-br
            | себя владельцем 
            br.no-br
            span.color-orange МЯУЛАЙ
          .start-section__bottom-text.font-w-light.font-s-20 Запишитесь на тест-драйв
          form.start-section__bottom-form-wrapper(data-feedback-form)
            .start-section__bottom-form
              input(type="text" name="honeyfield" class="honeypot" style="display:none")
              input.input.input--tertiary(type="text" name="name" autocomplete="off" placeholder="Имя")
              input.input.input--tertiary(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
              button.btn(type="submit") Записаться
            .start-section__agree-wrapper
              include ../components/agree.pug
        .start-section__bottom-right
          .start-section__bottom-right-text.font-w-medium.font-s-20
            | Запишитесь на тест-драйв 
            br.no-br
            | франшизы и вы узнаете:
          .swiper-start
            .start-section__cards.swiper-wrapper
              .start-section__card.swiper-slide
                img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="12" height="12" alt="icon")
                .font-s-18
                  span.font-w-semi-bold Как вести 
                  | документооборот
              .start-section__card.swiper-slide
                img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="12" height="12" alt="icon")
                .font-s-18
                  span.font-w-semi-bold Как расширять 
                  | клиентскую базу
              .start-section__card.swiper-slide
                img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="12" height="12" alt="icon")
                .font-s-18
                  span.font-w-semi-bold Как избежать 
                  | ошибок на старте
              .start-section__card.swiper-slide
                img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="12" height="12" alt="icon")
                .font-s-18
                  span.font-w-semi-bold Как организовать 
                  | пространство точки
              .start-section__card.swiper-slide
                img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="12" height="12" alt="icon")
                .font-s-18
                  span.font-w-semi-bold Как работать 
                  | с поставщиками
              .start-section__card.swiper-slide
                img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="12" height="12" alt="icon")
                .font-s-18
                  span.font-w-semi-bold Как находить 
                  | профессиональный 
                  br.no-br
                  | персонал
              .start-section__card.swiper-slide
                img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="12" height="12" alt="icon")
                .font-s-18
                  span.font-w-semi-bold Как всегда быть в курсе 
                  | новинок 
                  br.no-br
                  | рынка
              .start-section__card.swiper-slide
                img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="12" height="12" alt="icon")
                .font-s-18
                  span.font-w-semi-bold Как и из чего 
                  | будет формироваться 
                  br.no-br
                  | ваша прибыль
            .start-pagination.swiper-progress-start
      .start-section__owner.font-s-16
        span.font-w-bold Катерина Вет,
        br
        | Основательница МяуЛай

