section.steps-section
  .wrapper
    .steps-section__container
      .steps-section__round-orange
      .steps-section__round-gradient
      h2.steps-section__title.font-w-bold.font-s-50
        span.color-orange 9 простых шагов 
        br.no-br
        | для открытия вашей ветклиники
      .steps-section__sub-title.font-s-20
        | Ознакомьтесь с ключевыми этапами совместной работы
      .steps-section__cards-wrapper
        .swiper-steps
          .steps-section__cards.swiper-wrapper
            .steps-section__card.swiper-slide.steps-section__card-line
              .steps-section__card-title.font-w-semi-bold.font-s-20 шаг 01
              .font-s-18 Заключаем договор <br> франшизы
            .steps-section__card.swiper-slide
              .steps-section__card-title.font-w-semi-bold.font-s-20 шаг 02
              .font-s-18 Ищем помещение <br> и подписываем договор <br> аренды
            .steps-section__card.swiper-slide
              .steps-section__card-title.font-w-semi-bold.font-s-20 шаг 03
              .font-s-18 Проводим ремонт и <br> оформляем помещение
            .steps-section__card.swiper-slide.steps-section__card-line
              .steps-section__card-title.font-w-semi-bold.font-s-20 шаг 04
              .font-s-18 Получаем разрешения <br> и согласования в гос <br> инстанциях
            .steps-section__card.swiper-slide
              .steps-section__card-title.font-w-semi-bold.font-s-20 шаг 05
              .font-s-18 Осуществляем <br> поиск персонала
            .steps-section__card.swiper-slide
              .steps-section__card-title.font-w-semi-bold.font-s-20 шаг 06
              .font-s-18 Производим заказ, доставку <br> и монтаж оборудования <br> и мебели
            .steps-section__card.swiper-slide.steps-section__card-line
              .steps-section__card-title.font-w-semi-bold.font-s-20 шаг 07
              .font-s-18 Формируем первичные <br> запасы товара и <br> расходных материалов
            .steps-section__card.swiper-slide
              .steps-section__card-title.font-w-semi-bold.font-s-20 шаг 08
              .font-s-18 Проводим обучение <br> персонала
            .steps-section__card.swiper-slide
              .steps-section__card-title.font-w-semi-bold.font-s-20 шаг 09
              .font-s-18 Открываем МЯУЛАЙ <br> и начинаем зарабатывать
          .steps-pagination.swiper-progress-steps
      .steps-section__bottom-title.font-s-32
        span.font-w-bold Работаем строго по договору, 
        br.no-br
        | в котором описаны наши обязанности и все 
        br.no-br
        | условия сотрудничества
      button.btn.steps-section__bottom-btn(data-remodal-target="modal-form-agreement") Скачать пример договора
      img.steps-section__img(src="images/steps-section-img.png" loading="lazy" width="1516" height="798" alt="image")
