section.support-section
  .wrapper
    .support-section__container
      .support-section__round-blur
      .support-section__top
        .support-section__top-left
          h2.support-section__title.font-w-bold.font-s-50
            | Мы поможем вам 
            br.no-br
            | запустить 
            br.no-br
            span.color-orange свой бизнес
          .support-section__sub-title.font-s-20
            | Команда МЯУЛАЙ поддержит 
            br.no-br
            | вас на всех этапах
          img.support-section__img-staff(src="images/support-section-img-staff.png" loading="lazy" width="1440" height="1659" alt="image")
        .support-section__top-right
          .swiper-support
            .support-section__top-cards.swiper-wrapper
              .support-section__top-card.swiper-slide
                img.support-section__top-card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
                .font-s-18
                  span.font-w-semi-bold Обеспечим пошаговое становление
                  br
                  | бизнеса
              .support-section__top-card.swiper-slide
                img.support-section__top-card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
                .font-s-18
                  span.font-w-semi-bold Предоставим очное обучение
                  br
                  | на базе ветеринарной клиники
              .support-section__top-card.swiper-slide
                img.support-section__top-card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
                .font-s-18
                  span.font-w-semi-bold Обучим врачей ведению приема
                  br
                  | и эффективным подходам к лечению
              .support-section__top-card.swiper-slide
                img.support-section__top-card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
                .font-s-18
                  span.font-w-semi-bold Проведем организацию работы
                  br
                  | в режиме онлайн
              .support-section__top-card.swiper-slide
                img.support-section__top-card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
                .font-s-18
                  span.font-w-semi-bold Направим команду специалистов
                  br
                  | для запуска бизнеса
              .support-section__top-card.swiper-slide
                img.support-section__top-card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
                .font-s-18
                  span.font-w-semi-bold Поможем в получении лизинга
                  br
                  | на профильное оборудование
              .support-section__top-card.swiper-slide
                img.support-section__top-card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
                .font-s-18
                  span.font-w-semi-bold Предоставим бухгалтерское
                  br
                  | сопровождение
              .support-section__top-card.swiper-slide
                img.support-section__top-card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
                .font-s-18
                  span.font-w-semi-bold Поможем с ведением электронного
                  br
                  | документооборота
              .support-section__top-card.swiper-slide
                img.support-section__top-card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
                .font-s-18
                  span.font-w-semi-bold Добавим на официальный сайт
              .support-section__top-card.swiper-slide
                img.support-section__top-card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
                .font-s-18
                  span.font-w-semi-bold Подключим к колл-центру
              .support-section__top-card.swiper-slide
                img.support-section__top-card-icon(src="images/support-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
                .font-s-18
                  span.font-w-semi-bold Дадим любые консультации,
                  br
                  | касающиеся ведения бизнеса
            .support-pagination.swiper-progress-support
      .swiper-desktop
        .support-section__cards.swiper-wrapper
          .support-section__card.swiper-slide
            img.support-section__img(src="images/presentation-section-img1.jpg" loading="lazy" width="760" height="520" alt="image")
          .presentation-section__card.swiper-slide
            img.support-section__img(src="images/presentation-section-img2.jpg" loading="lazy" width="760" height="520" alt="image")
          .support-section__card.swiper-slide
            img.support-section__img(src="images/presentation-section-img3.jpg" loading="lazy" width="760" height="520" alt="image")
          .support-section__card.swiper-slide
            img.support-section__img(src="images/presentation-section-img4.jpg" loading="lazy" width="760" height="520" alt="image")
          .support-section__card.swiper-slide
            img.support-section__img(src="images/presentation-section-img5.jpg" loading="lazy" width="760" height="520" alt="image")
          .support-section__card.swiper-slide
            img.support-section__img(src="images/presentation-section-img6.jpg" loading="lazy" width="760" height="520" alt="image")
          .support-section__card.swiper-slide
            img.support-section__img(src="images/presentation-section-img7.jpg" loading="lazy" width="760" height="520" alt="image")
          .support-section__card.swiper-slide
            img.support-section__img(src="images/presentation-section-img8.jpg" loading="lazy" width="760" height="520" alt="image")
          .support-section__card.swiper-slide
            img.support-section__img(src="images/presentation-section-img9.jpg" loading="lazy" width="760" height="520" alt="image")
        .desktop-pagination
      .support-section__bottom-text.font-s-32.text-center
        span.font-w-bold Получите подробный план
        br
        | по открытию МЯУЛАЙ
      form(data-feedback-form)
        .support-section__form
          input(type="text" name="honeyfield" class="honeypot" style="display:none")
          input.input.input--tertiary(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input.input--tertiary(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn(type="submit") получить план
        .support-section__agree-wrapper
          include ../components/agree.pug
