.footer
  &__container
    display: flex
    flex-direction: column
    align-items: center
    gap: 10px
    background-color #fff
    border-radius: 15px 15px 0 0
    padding 15px 10px
    +above($breakpoints.sm)
      flex-direction: row
      justify-content space-between
      padding 16px 15px 20px 15px
    +above($breakpoints.md)
      padding 16px 20px 23px 20px
    +above($breakpoints.xxl)
      padding 16px 30px 23px 39px

  &__brand-text
    display: none
    +above($breakpoints.sm)
      display: block
      color: #292929

  &__logo
    width 60px
    height: auto
    +above($breakpoints.sm)
      width 64px
    +above($breakpoints.md)
      width 68px
    +above($breakpoints.xxl)
      width 71px

  &__block
    display: flex
    flex-direction: column
    align-items: center
    gap: 10px
    +above($breakpoints.sm)
      align-items: flex-end

  &__privacy
    color: #EB7F00
    cursor pointer
    text-decoration: underline
