.header
  &__container
    display: flex
    justify-content space-between
    align-items: center
    background-color #fff
    border-radius: 0 0 15px 15px
    padding 15px 10px
    +above($breakpoints.sm)
      padding 16px 15px 20px 15px
    +above($breakpoints.md)
      padding 16px 20px 23px 20px
    +above($breakpoints.xxl)
      padding 16px 30px 23px 39px

  &__brand
    display: none
    +above($breakpoints.sm)
      display: block
      flex-basis: 35%
      color: #292929

  &__logo
    width 60px
    height: auto
    +above($breakpoints.sm)
      width 64px
    +above($breakpoints.md)
      width 68px
    +above($breakpoints.xxl)
      width 71px

  &__call-me
    +above($breakpoints.sm)
      flex-basis: 35%
      display: flex
      justify-content flex-end

  &__brand-mobile
    position relative
    z-index 1
    text-align: center
    padding 8px 0
    margin-top 5px
    +above($breakpoints.sm)
      display: none
    &:after
      content: ""
      position: absolute
      z-index -1
      background-color $color-white
      width 100vw
      height: 100%
      top: 0
      left: 50%
      transform: translateX(-50%)
